@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;500&family=Play:wght@700&display=swap');
body{
  background-color:#1a111a;
  padding: 0px;
  margin: 0px;
  color: #f2e9f2;
  font-family: 'Nunito', sans-serif;
}

.app{
  text-align: center;
  background-color: #1a111a;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;

}
.to-do-container {
  height: auto;
  min-height: 70vh;
  background-color: white;
  border-radius: 4rem;
  margin-top: 4rem;
  width : 40%;
  padding : 30px;
  box-shadow: 2px 2px 20px #ececec;
}
.app-title{
  margin: 0;
  margin-bottom: 30px;
  color: #1a111a;
  text-transform: uppercase;
  text-decoration: underline;
  font-family: 'Nunito', sans-serif;
}

.add-todo{
  margin: 30px 0px;
}

.task-input{
  height : 35px;
  width : 300px;
  border : 1px solid #e4f2f7;
  border-radius: 6px;
  padding : 2px 10px;
  margin-right : 10px;
  font-family: 'Nunito', sans-serif;
}

.task-input:focus {
  box-shadow: 0 0 8px #665e66;
  outline: none;
}

.task-button{
  height : 35px;
  width : 100px;
  border : none;
  border-radius: 6px;
  background-color: #1a111a;
  font-family: 'Nunito', sans-serif;
  color:white;
}

.task-button:hover{
  cursor: pointer;
}

.tasks-list{
  list-style: none;
  margin: auto;
  padding : 0px;
}

.task-item{
  margin: 8px 0px;
  display: flex;
  justify-content: space-between;
  padding : 5px 50px;
  color: #436660;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Nunito', sans-serif;
}

.remove-task-button{
  background-color: #ad2126;
  font-family: 'Nunito', sans-serif;
  height: 32px;
  color: white;
  border-radius: 4px;
  width: 70px;
  border:none;
}

.remove-task-button:hover{
  cursor: pointer;
}